@charset "UTF-8";
@import url("http://static.tumblr.com/31hojlj/4qBnfhdl1/reset.css");


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}


textarea {
    resize: vertical;
}


html, body {
    font: 13px/1.4 'proxima-nova', 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: 400;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body {
    height: auto !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome and Safari */
    -moz-backface-visibility: hidden; /* Firefox */

}

.device[data-sr] {
    opacity: 1 !important;
}

h2 {
    font-weight: 200;
    -webkit-font-smoothing: antialiased;

}

.display-none-e {
    display: none;
}

p {
    font-weight: 600;
    /*-webkit-font-smoothing: antialiased; */
}

section {
    position: relative;
}

section .content {
    position: absolute;
    width: 100%;
}




@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
}


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

}


@media only screen and (min-width: 1024px) {

    .wrapper {
        width: 960px;
        position: absolute;
        height: 100%;
        left: 50%;
        top: 0;
        margin-left: -480px;
    }

    #header {
        -webkit-text-stroke-width: .2px;
        -webkit-font-smoothing: antialiased;
        z-index: 9999;
        position: fixed;
        width: 100%;
        top: 10px;
        height: 89px;
        min-width: 900px;
    }

    #header .logo-sm {
        left: 50%;
        margin-left: -480px;
    }

    #header nav {
        right: 164px;
    }

    #header {
        display: none;
    }

    .hide-scroll {
        overflow: hidden;
    }

    .loading {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 9;
    }

    .loading img {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -8 -5px;
    }

    .img-preload {
        display: none;
    }

    .logo-sm {
        position: absolute;
        top: 42px;
        left: 0;
        cursor: pointer;
    }

    nav {
        position: absolute;
        right: 0;
        top: 52px;
    }

    nav ul li {
        display: inline-block;
        margin-left: 2px;
        -webkit-font-smoothing: antialiased;
    }

    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        padding: 2px 10px;
        -webkit-font-smoothing: antialiased;
    }

    nav ul li.active a {
        color: #fff;
        border-radius: 20px;
        /*background: #6c6f7d;*/
        border: 1px solid;
    }

    nav ul li.active-black a {
        color: #333331;
        border-radius: 20px;
        /*background: #6c6f7d;*/
        border: 1px solid;
    }

    /* introduction */
    .introduction {
        transition: all 0.10s ease-in-out;
    }

    .introduction .night-day img {
        position: fixed;
    
    }

    .day {
        opacity: 0;
    }

    .logo-slogan {
        position: fixed;
        left: 50%;
        top: 50%;
        margin: -98px 0 0 -242px;

    }

    .logo-slogan p {
        padding-top: 18px;
        color: #fff;
        text-align: center;
        line-height: 30px;
        font-size: 25px;
        font-weight: 400 !important;
        -webkit-font-smoothing: antialiased;
    }

    .arrow-down {
        position: fixed;
        bottom: 8%;
        left: 50%;
        margin-left: -14.5px;
        z-index: 1;
    }

    .arrow-down img.arrow-black {
        width: 28px;
    }

    .arrow-black-opacity {
        opacity: 10 !important;
        display: block !important;
    }

    blockquote {
        opacity: 0;
        position: fixed;
        bottom: 20%;
        width: 24em;
        left: 51%;
        margin-left: -415px;
        font-size: 33px;
        font-style: italic;
        color: #38393e;
        text-align: right;
        line-height: 57px;
        text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
        -webkit-font-smoothing: antialiased;
    }

    /* introducing-layer */
    .introducing-layer {

    }

    .introducing-layer .layer-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }



    .introducing-layer .content {
        position: absolute;
        bottom: 6%;
        width: 100%;
    }

    .introducing-layer h2 {
        font-size: 75px;
        color: #565864;
        margin-left: 86px;
        line-height: 76px;

    }

    .introducing-layer h2 strong {
        display: block;
        color: #4aaae7;
        font-weight: 600;
    }

    .introducing-layer p {
        margin-left: 90px;
        padding-top: 33px;
        font-size: 20px;
        color: #797a81;

    }

    

    /* layer-advantages */
    .layer-advantages {
        background: #2c2c32;
        background-size: cover;
    }

    .layer-advantages p{
        position: absolute;
        bottom: 6%;
        color: #fff;
        text-align: center;
        width: 100%;
        font-size: 26px;
        font-weight: 300;
        line-height: 32px;
    }

    .layer-advantages h5{
        position: absolute;
        bottom: 75%;
        color: #fff;
        text-align: center;
        width: 100%;
        font-size: 26px;
        font-weight: 300;
        line-height: 32px;
    }

    .layer-advantages img {
        height: 105%;
        margin-left: -10%;
        display: block;
    } 



  
}